* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}
main {
  width: 1100px;
  margin: 0px auto;
}
/* ====================
common css styles
==================== */
a {
  text-decoration: none;
  display: inline-block;
}
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}

/* =========================
header styles start
========================== */
header {
  background-color: #000;
  color: #fff;
  display: flex;
  padding: 80px;
  border-radius: 30px;
  align-items: center;
  justify-content: space-between;
}
.header-content {
  width: 50%;
}
.header-content h1 {
  font-size: 50px;
  margin: 0;
}
.header-content p {
  font-size: 16px;
}
.header-content a {
  background: #dd0000;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  display: inline-block;
  margin-top: 20px;
}
.header-img {
  width: 50%;
}
.header-img img {
  width: 100%;
  height: 100%;
}
/* =========================
header styles end
========================== */

/* =========================
blog section styles start
========================== */
.blog-container {
  margin-top: 80px;
  display: flex;
}
.nav-items {
  background-color: #000;
  color: #fff;
  width: 400px;
  border-radius: 5px;
  text-align: center;
  padding: 1rem;
  height: 100%;
}
.upcomming-match a {
  background: #fff;
  color: #000;
  padding: 10px 10px;
  border-radius: 10px;
  display: inline-block;
  font-weight: 500;
}
.all-group {
  margin: 10px 0px;
}
.all-group a {
  background: #fff;
  color: #000;
  padding: 10px 54px;
  border-radius: 10px;
  font-weight: 500;
}
/*  blog start */
.blogs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  margin-left: 20px;
  text-align: center;
}
.blog {
  border: 1px solid rgb(163, 163, 163);
  border-radius:  5px;
  padding: 10px;
}
.flagvsflag {
  display: flex;
  align-items: center;
}
 .flagvsflag img{
  width:100px;
 }
.flagvsflag h1{
  margin: 0px 10px;
  font-size: 18px;
}

/* footer section start */
footer {
  background: #000;
  color: #fff;
  padding: 80px;
  text-align: center;
  margin-top: 30px;
  width: 100%;
}
.goal {
  margin-bottom: 50px;
}
.trams-condition-link {
  display: flex;
  justify-content: space-between;
}
.social-link {
  padding-top: 20px;
}
.social-link a {
  color: #fff;
  font-size: 30px;
  margin: 0px 15px;
}
/* REsponsive start */
/* responsive for mobile */
@media only screen and (max-width: 576px) {
  main {
    width: 100vw;
  }
  header {
    flex-direction: column;
    width: 100vw;
    border-radius: 0px;
  }
  .header-content {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
  }

  .header-content p {
    margin: 20px 0px;
  }
  .header-img {
    width: 100%;
  }
  .nav-items {
    width: 100vw;
    background: none;
  }
  .upcomming-match a {
    border: 1px solid #ddd;
  }
  .all-group a {
    border: 1px solid #ddd;
  }
  .blog-container {
    flex-direction: column;
    justify-content: center;
  }
  .blogs {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .blog {
    width: 85vw;
    margin: auto;
  }
  footer {
    width: 100vw;
  }
  .trams-condition-link {
    flex-direction: column;
  }
  .trams-condition-link div {
    margin: 15px 0px;
  }
  
}
/* Responsive for tablet */
@media only screen and (min-width:577px) and (max-width:992px) {

     header{
      border-radius: 0px;
     }

  .nav-items{
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: center;
    background: none;
    
    
  }
  .nav-items a{
    border: 1px solid #ddd;
  }
  
  .blog-container{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
     
     
  }
  .blogs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .btn-container{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    
  }
  .btn{
    background-color: #dd0000;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
  }
  footer{
    width: 1100px;;
  }
}

 
